.register__input {
  padding: 0 0 13px 0;
  width: 100%;
  color: #CCC;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
}

.register__input:focus {
  border: 0;
  outline: 2px solid rgba(255, 255, 255, .5);
}
