.register__button {
  padding: 0;
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  transition: opacity .3s;
  cursor: pointer;
}

.register__button:hover {
  opacity: .85;
}

@media screen and (max-width: 640px) {
  .register__button {
    width: 260px;
    font-size: 16px;
  }
}

.register__button:disabled {
  background: transparent;
  color: rgba(255, 255, 255, .5);
  border: 1px solid rgba(255, 255, 255, .5);
}
