.profile {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 120px minmax(336px, auto) 150px;
}

@media screen and (max-width: 967px) {
  .profile {
    max-width: calc(100% - 15vw);
  }
}

@media screen and (max-width: 640px) {
  .profile {
    max-width: 282px;
    margin-top: 42px;
    grid-template-columns: 282px;
    grid-template-rows: 146px 90px 50px;
    justify-items: center;
  }
}
