.profile__caption {
  margin: 0;
  align-self: flex-end;
  grid-row: 2/3;
  max-width: 336px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 967px) {
  .profile__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .profile__caption {
    font-size: 14px;
    max-width: 282px;
    text-align: center;
    align-self: flex-start;
  }
}
