.register__wrapper_type_button {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .register__wrapper_type_button {
    margin-top: 140px;
  }
}
