.profile__image-overlay {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  cursor: pointer;
}
