@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__button/_type/_close/header__button_type_close.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__email/_type/_desktop/header__email_type_desktop.css);
@import url(./blocks/header/__email/_type/_mobile/header__email_type_mobile.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_type/_desktop/header__link_type_desktop.css);
@import url(./blocks/header/__link/_type/_mobile/header__link_type_mobile.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image-overlay/profile__image-overlay.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__caption/profile__caption.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__list-item/elements__list-item.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__delete/elements__delete.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__caption/elements__caption.css);
@import url(./blocks/elements/__like-wrapper/elements__like-wrapper.css);
@import url(./blocks/elements/__heart/elements__heart.css);
@import url(./blocks/elements/__heart/_active/elements__heart_active.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-wrapper/popup__form-wrapper.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_error-frame/popup__input_error-frame.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/image-popup/image-popup.css);
@import url(./blocks/image-popup/__figure/image-popup__figure.css);
@import url(./blocks/image-popup/__image/image-popup__image.css);
@import url(./blocks/image-popup/__caption/image-popup__caption.css);
@import url(./blocks/image-popup/__close-button/image-popup__close-button.css);
@import url(./blocks/delete-popup/__container/delete-popup__container.css);
@import url(./blocks/delete-popup/__button/delete-popup__button.css);
@import url(./blocks/avatar-popup/__container/avatar-popup__container.css);
@import url(./blocks/avatar-popup/__form/avatar-popup__form.css);
@import url(./blocks/avatar-popup/__button/avatar-popup__button.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__wrapper/register__wrapper.css);
@import url(./blocks/register/__wrapper/_type/_input/register__wrapper_type_input.css);
@import url(./blocks/register/__wrapper/_type/_button/register__wrapper_type_button.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__input-error/register__input-error.css);
@import url(./blocks/register/__input/_error-frame/register__input_error-frame.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__caption/register__caption.css);
@import url(./blocks/register/__link/register__link.css);

